.conversacion
{
}
.primero
{
    border-radius: 10%;
    height: auto;
    width: auto;
    display: flex;
    color: white;
    background-color:green;
}
.segundo
{
    border-radius: 10%;
    height: auto;
    width: auto
    text-align:end;
    display: flex;
    color:white;
    background-color:mediumblue;
}
