.conversacion
{
    max-width: 100vw;
    min-height: 100vh;
    background-image: url(fondo-predeterminado-whatsapp.jpg);
    background-repeat: no-repeat;
    display: flex;
}
.primero
{
    text-align: left;
    display: flex;
    align-items: left;
    color: white;
    background-color:green;
}
.segundo
{
    text-align: right;
    display: flex;
    align-items: right;
    color:white;
    background-color:mediumblue;
}
